/*shared style*/
.orange {
  color: #e95a08;
}
.orange_btn {
  background-color: #e95a08;
  border: none;
  color: white;
}

.grey {
  color: rgba(0, 0, 0, 0.5);
}

.noto-serif {
  font-family: "Noto Serif", serif;
}

.inter {
  font-family: "Inter", sans-serif;
}

.fit {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.white {
  color: #ffffff;
}
/* share end*/

/*Header start*/
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 5rem;
}
.header_ul {
  display: flex;
  align-items: flex-end;

  justify-content: center;
  gap: 2rem;
}
.header_ul a {
  text-decoration: none;
  color: black;
}



@media (max-width: 578px) {
   .header_ul a:not(:last-child) {
    display: none;
 
}

  .header {
    margin: 1rem 2rem; 
  }
}


/*Header end*/

/*hero start */

.hero_section {
  display: flex;
  margin: 10rem 5rem;
  padding: 10rem;
  align-items: flex-end;
  justify-content: space-between;
}

.hero_section h1 {
  margin: 0;
  font-size: 4rem;
  text-align: left;
}
.hero_section h4 {
  margin: 0;
  font-weight: 300;
  font-size: 1.5rem;
}

@media (max-width: 578px) {
  .hero_section {
    flex-direction: column-reverse;
    padding: 0;
    margin: 0;
    align-items: center;
    text-align: center;
  }

  .hero_container_text{
    width: 100%;
    text-align: left;
    margin-top: 2rem;
    margin-left: 2rem;
  }
  .hero_section h1 {
    font-size: 2.5rem;
    text-align:left;
  }
  .hero_section h4 {
    font-size: 1rem;
    margin-top: 1rem;
  }
}
/*hero end */

/*products start*/
h1 {
  text-align: center;
  font-size: 3.125rem;
}

.p {
  text-align: center;
  font-size: 1.375rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  grid-template-rows: repeat(2, auto); 
  gap: 1rem; 
  margin: 0 5rem;
}

.card {
  padding: 1rem;
  text-align: center;
  font-weight: bold;
  margin-bottom: 1rem;
}

.card_btn {
  width: 100%;
  height: 10%;
}
.card img {
  width: 100%;
}

.mobile-text{
  display: none;
}


@media (max-width: 578px) {
  .products{
    margin-top: 5rem;
  }
 .products h1{
  font-size: 1.7rem;
 }
 .products p{
  font-size: 1rem;
 }

.cards{
    display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-template-rows: repeat(2, 3); 
  gap: 1rem; 

}
  .card:nth-child(n+7) {
    display: none;
  }
 .desktop-text{
  display: none;
 }
 .mobile-text{
  display: block;
  text-align: center;
 }
}
/*products end*/

/*trussted start*/

.trusted {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  margin: 15rem 2.5rem;


}

.trusted_img {
  position: relative;
}

.bottom {
  width: 100%;
  display: block;
}

.top {
  width: 15rem;
  position: absolute;
  top: -20%;
  left: 75%;
  filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.4));
}

.trusted_text {

}

.trusted_text h1 {
  font-size: 3.125rem;
  text-align: left;
}
.trusted_text li {
  font-size: 1.375rem;
  color: rgba(0, 0, 0, 0.5);
}
.mb{
  display: none;
}
@media (max-width: 578px) {

  .pc{
    display: none;
  }
  .mb{
    display: block;
  }
 .trusted{
  flex-direction: column;
 
 }
.trusted_text h1{
  font-size: 1.75rem;
} 
  
.top{
  display: none;
}


}



/*trusted end*/

/*offers start*/

.offers {
  width: 100%;
  margin: 10rem 0;
}
.offers h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.offers p {
  text-align: center;
    margin-bottom: 2rem;
  line-height: 1.6;
}
.main_box {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 0 5rem;
  height: 26.45rem;
}

.standing {
  display: flex;
  flex-direction: column;
  flex: 0 0 30%;
  gap: 20px;
}



.right {
  flex: 0 0 70%;
  background-color: blue;
  border-radius: 14px;
  background-image: url(assets/deal-zabo.png);
  height: auto;


}





.top_left {
  background-image: url(assets/deal-bloom.png);
  background-color: #e95a08;
  border-radius: 14px;
   justify-content: center;
  align-items: center; 
}


.bottom_left {
  background-color: blue;
  background-image: url(assets/deal-ana.png);
  border-radius: 14px;
   justify-content: center;
  align-items: center; 
}
.bottom_left h1{
  text-align: center;
}

.heading{
  font-size: 1.8rem;
}
.bodying{
  font-size: 1em;
  text-decoration: underline;
}

.heading2{
  font-size: 4rem;

}
.bodying2{
  font-size: 3rem;
    text-decoration: underline;
}

@media (max-width: 578px) {

  .main_box {
      display: flex;
    flex-direction: column;
    margin: 0 1rem;
    gap: 20px;
    height: auto;
  }

  
  .top_left h1{
 font-size: 2.5rem;
}
.bodying{

  text-decoration: underline;
}

.heading2{
  font-size: 2rem;

}
.right h1{
  font-size: 3rem;
    
}



}



/*offers end*/



/*newsletter start*/

.Newsletter{
  background-image: url(assets/news-letter-bg.png);
  height: auto;
  color: white;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.newinput{

  display: flex;
  align-items: center;
  justify-content: center;
  width: 50vw;


}


.newinput input{
  width: 60%;
  height: 3.5rem;
  padding-left: 20px
} 

.newinput button{
  background-color: #e95a08;
  border: 0;
  color: #ffffff;
  height: 3.5rem;
  width: 9rem;
}
.newinput input,
.newinput button {
  height: 3.5rem;
  font-size: 1rem;
  border: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0 1rem;
  line-height: 1;
}

@media (max-width: 578px) {

  .main_box {
      display: flex;
    flex-direction: column;
    margin: 0 1rem;
    gap: 20px;
    height: auto;
  }
.newinput input{
  width: 60%;} 

}



/*newsletter end*/



/*footer start*/
.footer{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 10rem 5rem;
}

.footer h1{
  font-size: 1.375rem;
  font-weight: 400;
  text-align: left;
  color: rgba(0, 0, 0, 0.5);
}


.list{
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  grid-template-rows: repeat(4, auto);  /* 4 rows */
  gap: 10px; 
  padding: 0 4rem;

}

.one{
  width: 40%;
}
.two{
  width: 30%;
}
.three{
  display: flex;
  width: 20%;
  margin-right: 20rem;
  justify-content: flex-end;
  align-items: flex-start; 
  height: 30vh;
  gap:2rem;
}





@media (max-width: 578px) {

  .footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin: 10rem;
   
  }

  .list {
    grid-template-columns: 1fr; /* 1 column */
    grid-template-rows: repeat(8, auto); /* 8 rows */
    padding: 0 1rem; /* optional: reduce padding for mobile */
  }

}

/*footer end*/