/*shared style*/
.orange {
  color: #e95a08;
}
.orange_btn {
  background-color: #e95a08;
  border: none;
  color: white;
}

.grey {
  color: rgba(0, 0, 0, 0.5);
}

.noto-serif{
  font-family: "Noto Serif", serif;
}

.inter{
  font-family: "Inter", sans-serif;

}
/* share end*/

/*Header start*/
.header {
  display: flex;

  align-items: center;
  justify-content: space-between;
  margin: 2rem 5rem;
}
.header_ul {
  display: flex;
  align-items: flex-end;

  justify-content: center;
  gap: 2rem;
}
.header_ul a {
  text-decoration: none;
  color: black;
}

/*Header end*/

/*hero start */

.hero_section {
  display: flex;
  margin: 10rem 5rem;
  padding: 10rem;
  align-items: flex-end;
  justify-content: space-between;

}

.hero_section h1 {
  margin: 0;
  font-size: 4rem;
  text-align: left;
}
.hero_section h4 {
  margin: 0;
  font-weight: 300;
  font-size: 1.5rem;
}
.hero_container_text {

}
.hero_container_img {

}

/*hero end */



/*products start*/
h1{
    text-align: center;
    font-size: 3.125rem

}

.p{
    text-align: center;
    font-size: 1.375rem
}



.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns */
  grid-template-rows: repeat(2, auto);  /* 2 rows */
  gap: 1rem; /* Optional gap between items */
  padding: 1rem;
  margin: 0 5rem;
}

.card {
 
  padding: 1rem;
  text-align: center;
  font-weight: bold;
  margin-bottom: 1rem;  


}



.card_btn{
  width: 100%;
  height: 10%;
}
.card img{
  width: 100%;
}
/*products end*/